<div>
    <div class='container'>
        <div style="display:table; height: 50px;">
            <div style="display:table-cell; vertical-align: middle;">
                <button ng-click="field='item'">Order by Item</button>
                <button ng-click="field='price'">Order by Price</button>
            </div>
        </div>
        <ul id='shopping-list'>
            <li ng-repeat="order in shopping | orderBy:field">
                <h3>{{order.item}} - {{order.price | currency:'Rs.'}}
                    <span ng-click="deletefn(order)">x</span>
                </h3>
            </li>
        </ul>
    </div>
    <div class="add" style="display: table;">
        <div style="display: table-cell; vertical-align: middle;">
            <form ng-submit="addfn(item, price)" id='formadd'>
                <input id="item" ng-model="item" type="text" placeholder="Item" autofocus/>
                <input id="price" ng-model="price" type="text" placeholder="Price" />
                <input type="submit" value="Add" style="width: 75px;" />
            </form>
            <a href="" ng-click="removeAll()">Remove All</a>
        </div>
    </div>
</div>