/* https://github.com/vipinkrishna */

@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: #fff;
}

#main {
    width: 1000px;
    max-width: calc(100% - 40px);
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    color: #888;
    box-shadow: 0 0 20px rgba(0,0,255,0.5), inset 0 0 5px rgba(0,0,255,0.5);
}

h2 {
    display: inline-block;
    margin-top: 0;
}

span {
    font-size: 11px;
}
div.content {
    box-shadow: inset 0 0 10px rgba(0,0,255,0.5);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

div.content:last-of-type {
    margin-bottom: 0;
}

div.content ul {
    padding: 0;
    list-style: none;
}

div.content ul li {
    margin-bottom: 20px;
    line-height: 1.5;
}

div.content p a {
    text-decoration: none;
}

div.content p a:link {
    color: dodgerblue;
}
div.content p a:visited {
    color: dodgerblue;
}

div.content p a:hover {
    color: darkorange;
}

div.content h3 {
    box-shadow: inset 0 0 10px rgba(0,0,255,0.5);
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    cursor: default;
    margin-top: 0;
    width: calc(100% - 100px);
    max-width: 500px;
    margin: auto;
    letter-spacing: 5px;
}

div.content h3:hover {
    animation: vibrate 0.2s 6;
}

@keyframes vibrate {
    25% {transform: translateX(-5px);}
    75% {transform: translateX(5px);}
}

@media (max-width: 550px){
    body {
        background: #fff;
    }

    h2 {
        display: block;
        margin-bottom: 0;
    }

    #main {
        max-width: calc(100% - 20px);
        margin: 4px auto;
        max-width: calc(100% - 8px);
        border-radius: 0;
        padding: 10px;
        box-shadow: inset 0 0 5px rgba(0,0,255,0.3), 0 0 10px rgba(0,0,255,0.3);
        border-radius: 10px;
    }

    div.content {
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: inset 0 0 5px rgba(0,0,255,0.3);
    }

    div.content h3 {
        border-radius: 0px;
        box-shadow: none;
        width: 100%;
        letter-spacing: 3px;
    }
}
