/* https://github.com/vipinkrishna */

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: #007180;
}

.tablebox {
    width: 800px;
    height: 400px;
    overflow-y: scroll;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.5);
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid #005277;
    border-collapse: collapse;
    text-align: left;
}

th {
    position: sticky;
    top: -1px;
    background: #00bcd4;
    color: #fff;
}

tr th:nth-child(1) {
    width: 50px;
    text-align: center;
    background: #03707d;
}

tr td:nth-child(1) {
    background: #00bc44;
    color: #fff;
    text-align: center;
}