* {
    box-sizing: border-box;
}

:root {
    --clr: limegreen;
    --clr-active: green;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: "PT Sans Narrow", sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    border-radius: 25px;
    overflow: hidden;
    width: 80%;
    max-width: 300px;
}

.formitem {
    display: flex;
}

.forminput, .formbutton {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 1.2px;
    border: 0;
    outline: 0;
    width: 100%;
}


.forminput {
    padding: 1.5em;
}

.forminput::placeholder {
    opacity: 0.35;
}

.forminput:focus::placeholder {
    color: var(--clr);
    opacity: 0.85;
}

.formitem:first-of-type {
    position: relative;
}

.formitem:first-of-type::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: rgba(0,0,0,0.1);
}

.formbutton {
    background-color: var(--clr);
    color: #fff;
    padding: 1.25em 2em;
    cursor: pointer;
}

.formbutton:active {
    background-color: var(--clr-active)
}

@media only screen and (min-width: 576px) {
    .form {
        flex-direction: row;
        max-width: 550px;
        border: 8px solid white;
        border-radius: 41px;
    }

    .formbutton {
        width: auto;
        border-radius: 25px;
    }

    .formitem:first-of-type::after {
        top: 0;
        bottom: 0;
        right: 0;
        left: calc(100% - 1px);
        height: initial;
    }

    .formitem:last-of-type {
        flex: 1 1 auto;
    }
}

