body {
    font-family: 'verdana';
}

span {
    float: right;
    color: red;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 10px;
}

span:hover {
    cursor: pointer;
    background-color: red;
    color: white;
    border-radius: 50%;
}

li {
    border-top: 1px solid silver;
    width: 100%;
    /* overflow: hidden; */
    list-style-type: none;
}

li:last-child {
    border-bottom: 1px solid silver;
}

h3 {
    margin-left: 5px;
}

button {
    margin-left: 45px;
    padding: 5px;
}

.container {
    overflow-y: auto;
    overflow-x: hidden;
    /* border: 1px solid silver; */
    width: 50%;
    height: 350px;
}

.add {
    /* border: 1px solid silver; */
    width: 50%;
    text-align: center;
    height: 100px;
    /* position: relative; */
}

input[type=text] {
    padding: 5px;
}

/* ANIMATIONS */
main.ng-enter {
    transition: 0.5s linear all;
    opacity:0;
}

main.ng-enter.ng-enter-active {
    opacity: 1;
}

#shopping-list li.ng-enter {
    transition: 0.2s linear all;
    opacity: 0;
    transform: translateY(30px);
}

#shopping-list li.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateY(0);
}
#shopping-list li.ng-leave {
    transition: 0.2s linear all;
    opacity: 1;
    transform: translateX(0);
}

#shopping-list li.ng-leave.ng-leave-active {
    opacity: 0;
    transform: translateX(100%);
}
#shopping-list li.ng-leave-stagger {
    transition-delay: 0.2s;
    transition-duration: 0;
}
