/* https://github.com/vipinkrishna */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
}

.box {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(#fff, #757575);
    overflow: hidden;
}

.box:before {
    /* content: ''; */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 5px;
    background: #000;
}

.box:after {
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 5px;
    background: #000;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.circle.circle2 {
    width: 600px;
    height: 600px;
    box-shadow: 0px 0px 32px 5px rgba(0,0,0,0.5), inset 0px 0px 32px 5px rgba(0,0,0,0.5);
    z-index: 1;
}

.circle.circle1 {
    background: radial-gradient(#fff, #757575);
    box-shadow: 0px 0px 32px 5px rgba(0,0,0,0.5), inset 0px 0px 32px 5px rgba(0,0,0,0.5);
    z-index: 1;
}

.needle {
    position: absolute;
    top: calc(50% - 10px);
    left: 50%;
    height: 20px;
    width: 300px;
    background: red;
    animation: animate 1s linear infinite;
    transform-origin: left;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.number {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.number div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 25em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: animateNumber 10s linear infinite;
    text-shadow: 8px 8px 8px rgba(0,0,0,0.8);
}

.number div:nth-child(1) {
    animation-delay: 0s;
}
.number div:nth-child(2) {
    animation-delay: 1s;
}
.number div:nth-child(3) {
    animation-delay: 2s;
}
.number div:nth-child(4) {
    animation-delay: 3s;
}
.number div:nth-child(5) {
    animation-delay: 4s;
}
.number div:nth-child(6) {
    animation-delay: 5s;
}
.number div:nth-child(7) {
    animation-delay: 6s;
}
.number div:nth-child(8) {
    animation-delay: 7s;
}
.number div:nth-child(9) {
    animation-delay: 8s;
}
.number div:nth-child(10) {
    animation-delay: 9s;
}

@keyframes animateNumber {
    0% {
        opacity: 1;
    }

    10%, 100% {
        opacity: 0;
        transform: scale(0.5);
    }
}